/*Nhap cong viec*/
p.title {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: bolder;
}

div.js-todo-list-area {
  font-size: 20px;
}

div.reminders-input {
  margin-bottom: 30px;
  display: grid;
  row-gap: 10px;
}

input[type="text"] {
  font-size: 18px;
  width: 400px;
}

input[type="date"] {
  font-size: 18px;
  font-family: 'Arial';
}

div.js-todo-list-area button {
  font-size: 18px;
  padding: 3px 12px;
  border: none;
  color: white;
}

div.js-todo-list-area button.add {
  background-color: green;
}

/*Bang cong viec*/
div.reminders, div.reminders-title{
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr;
  border-bottom: 1px solid black;
}

div.reminders-title div{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

div.reminders{
  align-items: center;
  font-size: 18px;
  font-style: italic;
}

div.reminders div {
  padding: 4px 0;
}

div.js-todo-list-area button.delete {
  background-color: brown;
  font-weight: bold;
}