@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.ttf") format("truetype");
}