body {
    font-family: "Dosis";
    padding-top: 50px;
    font-size: 24px;
}

main {
    display: grid;
    grid-column-gap: 10px;
}

ul {
    margin: 0;
    padding: 15px;
    padding-top: 2px;
    padding-bottom: 7px;
    list-style: none;
}

fieldset {
    margin-top: 10px;
    border: 2px solid #152f4b;
    border-radius: 10px;
    padding: 0;
}

legend {
    margin: 0 15px;
    font-family: "Montserrat";
    background-color: #245182;
    color: white;
    padding: 7px 15px;
    padding-right: 25px;
    font-weight: bold;
}

a.link {
    color: black;
    text-decoration: none !important;
    transition-duration: 0.15s;
}

a.link:hover {
    color: #245182;
    font-weight: bold;
}

abbr {
    text-decoration: none !important;
}

ul.image {
    padding: 5px 15px;
}

ul.image > li {
    display: inline-block;
}

div.media {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    display: inline-block;
    transition-duration: 0.15s;
    background-size: contain;
}

div.media:hover {
    background-size: contain;
}

footer {
    font-size: initial;
}

@media (max-width: 799px) {    
    main {
        grid-template-columns: 1fr;
    }

    .social {
        display: none;
    }
}

@media (min-width: 800px) {    
    main {
        grid-template-columns: 1fr 1fr;
    }
}