.drive {
    background: url("../icons/social/drive.svg") no-repeat;
}

.drive:hover {
    background: url("../icons/social/drive-color.svg") no-repeat;
}

.facebook {
    background: url("../icons/social/facebook.svg") no-repeat;
}

.facebook:hover{
    background: url("../icons/social/facebook-color.svg") no-repeat;
}

.messenger {
    background: url("../icons/social/messenger.svg") no-repeat;
}

.messenger:hover {
    background: url("../icons/social/messenger-color.svg") no-repeat;
}

.instagram {
    background: url("../icons/social/instagram.svg") no-repeat;
}

.instagram:hover {
    background: url("../icons/social/instagram-color.svg") no-repeat;
}

.zalo {
    background: url("../icons/social/zalo.svg") no-repeat;
}

.zalo:hover{
    background: url("../icons/social/zalo-color.svg") no-repeat;
}

.youtube {
    background: url("../icons/social/youtube.svg") no-repeat;
}

.youtube:hover {
    background: url("../icons/social/youtube-color.svg") no-repeat;
}

.meet {
    background: url("../icons/social/meet.svg") no-repeat;
}

.meet:hover {
    background: url("../icons/social/meet-color.svg") no-repeat;
}

.classroom {
    background: url("../icons/social/classroom.svg") no-repeat;
}

.classroom:hover {
    background: url("../icons/social/classroom-color.svg") no-repeat;
}

.github {
    background: url("../icons/social/github.svg") no-repeat;
}

.github:hover {
    background: url("../icons/social/github-color.svg") no-repeat;
}

.draw-io { 
    background: url("../icons/social/draw.io.svg") no-repeat;   
}

.draw-io:hover { 
    background: url("../icons/social/draw.io-color.svg") no-repeat;   
}

.gmail {
    background: url("../icons/social/gmail.svg") no-repeat;      
}

.gmail:hover {
    background: url("../icons/social/gmail-color.svg") no-repeat;      
}